body{
  background-color: #525252;
}
.centered-form{
margin-top: 60px;
}

.centered-form .panel{
background: rgba(255, 255, 255, 0.8);
box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}




.field-container.error  
{

    display: inline-block;
 
    margin-top: 10px;
    font-weight: 600;
    color: #ca3938
}
  span{
    display: inline-block;
    font-size: 12px;
    text-align: left;
    width: 100%;
    font-style: italic;
    color: #ca3938
  }

